@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: 'Times New Roman', 'Times' ;
  color: #1c1719;
}
.pcolor{
   color: #595658;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
@keyframes glow {
   0% {
     box-shadow: 0 0 5px #ffa01433, 0 0 10px #ffa01433, 0 0 15px #ffa01433, 0 0 20px #ffa01433, 0 0 25px #ffa01433, 0 0 30px #ffa01433, 0 0 35px #ffa01433;
   }
   50% {
     box-shadow: 0 0 10px #ffa01466, 0 0 20px #ffa01466, 0 0 30px #ffa01466, 0 0 40px #ffa01466, 0 0 50px #ffa01466, 0 0 60px #ffa01466, 0 0 70px #ffa01466;
   }
   100% {
     box-shadow: 0 0 5px #ffa01499, 0 0 10px #ffa01499, 0 0 15px #ffa01499, 0 0 20px #ffa01499, 0 0 25px #ffa01499, 0 0 30px #ffa01499, 0 0 35px #ffa01499;
   }
 }
 
 .animated-border {
   animation: glow 5s infinite;
   border-color: #6a4308;
 }